*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    background: #a280899e;
}
.container{
    width: 90%;
    max-width: 375px;
    margin:100px auto;
    background-color:aliceblue ;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    

}
 .text {
    color: #333;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: start;
}
.searchbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}
.inputfeild{
    flex: 1;
    margin-right: 10px;
}
input[placeholder]{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.searchbox button {
    padding: 10px 15px;
    background-color: #af4c70;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
}
.list-container ol {
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
}
.list-container  li {
    /* padding: 10px 0; */
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #333;
    font-weight: 500;
}
span{
    float: right;
    color: red;
    font-weight: 700;
    cursor: pointer;
    font-size:1.7rem;
}
span:hover{
    background-color: #ccc;

}
